 
/***** Native Tags ********/
body {
  background-image: linear-gradient(to top, darkred, black, darkred);
  font-family: "Verdana";
}

a:link {
  color: white;
  text-decoration: underline;
  background-color: black;
}

a:visited {
  color: white;
  background-color: black;
  text-decoration: wavy underline;
}

h3 {
  font-family: "Courier New";
  font-size: 25;
}

h4 {
  font-family: "Courier New";
  font-size: 20;
}

ul {
  list-style-type: square;
  text-rendering: lef;
}

/****** Classes ******/
.tablink {
  background-color: darkred;
  color: white;
  text-align: right;
  float: right; 
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13;
  width: 10%;
  font-family: "Tahoma";
  padding-bottom: 20px;
} 

.tablink:hover {
  background-color: red;
}

.contact {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "Courier New";
  text-decoration: none;
}

.contact:hover {
  background-color: lightgray;
  text-decoration: none;
  color: black;
}

.CV {
  float: center;
}

.event {
  display: flex;
  width:100%;
}

.eventdesc {
  padding-left: 15px;
  padding-right: 10px;
}

/****** Ids ******/

#main_home, #about_home, #events_home, #mag_home {
  background-image: linear-gradient(to bottom, darkred, black);
  color:white;
}

#conactlink {
  margin: auto;
}

#conactlink {
  background-color: none;
}

#artistbio {
  display: flex;
  width:100%;
}

#artistdesc {
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 0;
}




